body {
  background: #121212;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

html {
  height: 100%;
  overflow-x: hidden;
  width: 100%;
}

section, section a, section a:hover, section a:visited {
  color: #EEE;
}

.fantom {
  margin-top: 100px;
}

.fantom p {
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
}

.fantom .play-link a {
  color: #00FFAE;
  font-size: 30px;
  text-decoration: none;
}

.fantom .play-link {
  padding: 50px 0;
}